@font-face {
  font-family: 'Inter';
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter';
  color: #212B31;
  font-size: 16px;
  line-height: 24px;
}

.container {
  margin: auto;
  width: 90vw;
  max-width: 1060px;
}

.container-big {
  margin: auto;
  max-width: 1440px !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 22px;
  line-height: 27px;
}

h2 {
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-size: 32px;
  line-height: 48px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #212B31;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
}

.button {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 13px 25px;
  font-size: 17px;
  line-height: 24px;
}

.button:first-child {
  margin-right: 16px;
}

.button-dark {
  background-color: #212B31;
  border: 1px solid #212B31;
  color: #fff;
}

.button-dark:hover {
  background-color: #fff;
  color: #212B31;
}

.button-light {
  background-color: #FFFFFF;
  border: 1px solid #DADEDF;
  color: #212B31;
}

.button-light:hover {
  background-color: #212B31;
  color: #DADEDF;
}

.button-light-solid {
  border: 1px solid #fff;
}

.button-light-solid:hover {
  background-color: transparent;
  color: #fff;
}

.button-light-inversion {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.button-light-inversion:hover {
  background-color: #fff;
  color: #212B31;
}

.text-marked {
  background: url("../img/mark.png") repeat-x 0 12px;
  color: #212B31;
}

.title-leaf:after {
  content: url("../img/abilities/reliability.svg");
  position: absolute;
  top: -18px;
  right: -34px;
  width: 42px;
  height: 40px;
}

@media screen and (max-width: 400px) {
  .button {
    margin-top: 20px;
  }
  .button:first-child {
    margin-right: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: #fff;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_content_menu-button {
  display: none;
  cursor: pointer;
}

.header_content_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 31px;
}

.header_content_logo__img {
  width: 30px;
  height: 44px;
  margin-right: 8px;
}

.header_content_logo__title {
  text-transform: uppercase;
}

.header_content_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px;
}

.header_content_nav__link {
  color: #72787D;
  margin-right: 22px;
}

.header_content_nav__link:last-child {
  margin-right: 0;
}

.header_content_nav__link-active {
  color: #036FC7;
}

.header_content_nav__button {
  padding: 9px 20px;
  font-size: 15px;
  line-height: 16px;
}

@media screen and (max-width: 1240px) {
  .header_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_content_logo {
    padding: 0;
    padding-top: 10px;
  }
  .header_content_nav {
    padding: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .header_content_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    left: 0px;
    top: 60px;
    padding: 15px;
    padding-left: 25px;
    height: 100vh;
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header_content_nav__link {
    margin-bottom: 20px;
  }
  .header_content_logo {
    padding: 10px;
  }
  .header_content_menu-button {
    display: block;
    position: absolute;
    left: 20px;
    top: 15px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 400px) {
  .header_content_logo {
    margin-left: 50px;
  }
}

.menu-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero {
  margin: 74px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  max-width: 818px;
  text-align: center;
}

.hero_buttons {
  margin-top: 30px;
  margin-bottom: 78px;
}

@media screen and (max-width: 500px) {
  .hero__title {
    font-size: 38px;
    line-height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .hero_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.advantages {
  margin: 144px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-betweens;
      -ms-flex-pack: space-betweens;
          justify-content: space-betweens;
}

.advantages_item {
  max-width: 325px;
  margin-right: 25px;
  text-align: center;
}

.advantages_item__icon {
  width: 48px;
  height: 48px;
}

.advantages_item__title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.advantages_item__description {
  color: #72787D;
}

@media screen and (max-width: 768px) {
  .advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 100px auto;
  }
  .advantages_item {
    margin-bottom: 50px;
  }
}

.article {
  margin-bottom: 70px;
}

.article_description__text {
  margin-top: 16px;
  margin-bottom: 35px;
  color: #72787D;
  font-size: 20px;
  line-height: 32px;
}

.article_description__text-marked {
  font-size: 20px;
  line-height: 32px;
}

.article-vertical {
  text-align: center;
}

.article-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-huge {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article_mini {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}

.article_mini_description__title {
  margin-bottom: 19px;
}

.article_mini_description__text {
  color: #72787D;
}

.article_mini_description:first-child {
  margin-right: 50px;
}

.article_mini__img:first-child {
  margin-right: 50px;
}

@media screen and (max-width: 1024px) {
  .article-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-horizontal__img {
    margin-top: 50px;
    max-width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .article_mini {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .article_mini__img {
    max-width: 500px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 50px 0;
  }
  .article_mini:nth-child(2n+1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .article_description {
    text-align: left;
  }
}

.title-alone {
  max-width: 781px;
  margin: 100px auto;
}

.title-alone__text {
  font-weight: normal;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
}

.companies {
  padding: 56px 0;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #EEF2F3;
  border-bottom: 1px solid #EEF2F3;
}

.companies__item {
  max-width: 180px;
  margin-right: 40px;
}

.abilities {
  text-align: center;
  margin-bottom: 120px;
}

.abilities__title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.abilities__description {
  margin-top: 21px;
  margin-bottom: 42px;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}

.abilities_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(335px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 10px;
  margin-bottom: 22px;
}

.abilities_grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.abilities_grid_item__icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.abilities_grid_item_description__title {
  margin-bottom: 11px;
}

.abilities_grid_item_description__text {
  font-weight: normal;
  color: #72787D;
}

.abilities_flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.abilities_flexbox_item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.abilities_flexbox_item_description__title {
  margin-top: 19px;
  margin-bottom: 11px;
}

.abilities__span {
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}

.abilities_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  padding: 40px;
  background-color: #F6F8F9;
}

.abilities_info_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.abilities_info_description__text {
  font-size: 18px;
  line-height: 32px;
}

.abilities_info_description__icon {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

@media screen and (max-width: 900px) {
  .abilities_flexbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .abilities_flexbox_item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .abilities__title {
    margin: 0;
    text-align: left;
  }
  .abilities__description {
    text-align: left;
  }
  .abilities_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .abilities_info_description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .abilities_info_description__text {
    margin: 20px 0;
  }
  .abilities_grid {
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.dark-section {
  background-color: #212B31;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 40px;
}

.dark-section__text {
  color: rgba(255, 255, 255, 0.75);
  max-width: 340px;
}

.building {
  width: 95vw;
  max-width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-bottom: 100px;
}

.building_description {
  margin-right: 50px;
}

.building_description__title {
  margin-bottom: 50px;
}

.building_description_list {
  padding: 0;
  margin-bottom: 50px;
}

.building_description_list_item {
  padding-left: 32px;
}

.building_description_list_item__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.building_description_list_item__text {
  margin-top: 10px;
  margin-bottom: 24px;
  max-width: 510px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.building__image {
  max-width: 618px;
}

@media screen and (max-width: 1150px) {
  .building {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .building__image {
    margin-top: 80px;
  }
}

.howtowork {
  margin-top: 140px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.howtowork_description {
  min-width: 462px;
}

.howtowork_description__title {
  margin-bottom: 21px;
}

.howtowork_description__text {
  margin-bottom: 61px;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}

.howtowork_description__image {
  max-width: 80%;
}

.howtowork_items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 30px;
}

.howtowork_items_item__number {
  margin-right: 32px;
  padding: 11px 16px;
  text-align: center;
  border: 1px solid #DADEDF;
}

.howtowork_items_item_description__title {
  font-size: 17px;
  margin-bottom: 10px;
}

.howtowork_items_item_description__text {
  color: #72787D;
}

@media screen and (max-width: 1024px) {
  .howtowork {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .howtowork_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .howtowork_description__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 30px;
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .howtowork_description {
    min-width: auto;
  }
}

.whyus {
  max-width: 1150px;
  margin: auto;
  text-align: center;
}

.whyus__text {
  font-size: 20px;
  line-height: 32px;
}

.whyus_wrapper {
  margin-top: 55px;
  margin-bottom: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
}

.whyus_wrapper_items {
  margin-right: 50px;
  min-width: 458px;
}

.whyus_wrapper_items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.whyus_wrapper_items_item__icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.whyus_wrapper_items_item_description__title {
  margin-bottom: 10px;
}

.whyus_wrapper_items_item_description__text {
  color: #72787D;
}

.whyus_wrapper_quote {
  background-color: #F6F8F9;
  border-radius: 5px;
}

.whyus_wrapper_quote__text {
  padding: 60px 87px;
  padding-bottom: 28px;
  font-size: 30px;
  line-height: 48px;
  position: relative;
}

.whyus_wrapper_quote__text::before {
  content: url("../img/whyus/quote.png");
  position: absolute;
  left: 45px;
  top: 45px;
}

.whyus_wrapper_quote_speaker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 87px;
  padding-bottom: 60px;
}

.whyus_wrapper_quote_speaker__avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

.whyus_wrapper_quote_speaker_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whyus_wrapper_quote_speaker_detail__name {
  line-height: 19px;
}

.whyus_wrapper_quote_speaker_detail__post {
  line-height: 19px;
  color: #72787D;
}

.whyus_achives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 149px;
}

.whyus_achives_item {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 41px;
  width: 170px;
}

.whyus_achives_item__description {
  line-height: 19px;
  color: #72787D;
  display: block;
  margin: auto;
  margin-top: 32px;
  max-width: 135px;
}

@media screen and (max-width: 1100px) {
  .whyus {
    margin-right: 0;
    margin-left: 5vw;
  }
  .whyus_wrapper_qoute__text {
    font-size: 20px;
    line-height: 38px;
  }
}

@media screen and (max-width: 1520px) {
  .whyus {
    margin-right: 0;
    margin-left: 5vw;
  }
}

@media screen and (max-width: 1280px) {
  .whyus_wrapper_quote__text {
    font-size: 20px;
    line-height: 38px;
  }
}

@media screen and (max-width: 900px) {
  .whyus_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whyus_wrapper_items {
    min-width: auto;
    margin: 0 5vw;
  }
}

@media screen and (max-width: 500px) {
  .whyus {
    text-align: left;
  }
  .whyus_wrapper_quote_speaker {
    padding: 20px;
  }
  .whyus_wrapper_quote__text {
    font-size: 18px;
    line-height: 35px;
    padding: 20px;
  }
  .whyus_wrapper_quote__text::before {
    top: 5px;
    left: 5px;
  }
}

.banner {
  background: url("../img/banner.png");
  -o-object-fit: cover;
     object-fit: cover;
  padding: 117px 0;
  text-align: center;
  margin-bottom: 100px;
}

.banner__text {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin-bottom: 54px;
}

@media screen and (max-width: 800px) {
  .banner__text {
    font-size: 35px;
    line-height: 125%;
  }
  .banner_buttons {
    width: 80%;
    margin: auto;
  }
  .banner_buttons__button {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    padding: 50px 0;
  }
  .banner__text {
    font-size: 30px;
    line-height: 125%;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer_columns {
  margin-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_columns_item__title {
  margin-bottom: 22px;
}

.footer_columns_item__title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.footer_columns_item__title-logo__icon {
  width: 22px;
  height: 33px;
  margin-right: 8px;
}

.footer_columns_item__title-logo__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.footer_columns_item_list {
  list-style: none;
  padding: 0;
}

.footer_columns_item_list_item {
  margin-bottom: 8px;
}

.footer_columns_item_list_item__link {
  color: #72787D;
  font-size: 15px;
  line-height: 24px;
}

.footer_columns_item_list_item__link-info {
  color: #72787D;
  margin-bottom: 10px;
}

.footer_columns_item_list_item__link-logo {
  display: block;
  margin-top: 20px;
}

.footer_columns_item_list_item__link-logo__icon {
  width: 24px;
  height: 24px;
}

.footer_copyright {
  padding: 30px 0;
  border-top: 1px solid #DADEDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #72787D;
}

.footer_copyright__policy {
  color: #72787D;
}

@media screen and (max-width: 768px) {
  .footer_copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer_copyright__policy {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 350px) {
  .footer_columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .footer_columns_item {
    margin-top: 20px;
  }
  .footer_copyright__copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */