@font-face {
  font-family: 'Inter';
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Inter';
  color: #212B31;
}

.container {
  margin: auto;
  width: 90vw;
  max-width: 1060px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: #212B31;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
}

.button {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 13px 25px;
  font-size: 17px;
  line-height: 24px;
}

.button-dark {
  background-color: #212B31;
  border: 1px solid #212B31;
  color: #fff;
}

.button-dark:hover {
  background-color: #fff;
  color: #212B31;
}

.button-light {
  background-color: #FFFFFF;
  border: 1px solid #DADEDF;
  color: #212B31;
}

.button-light:hover {
  background-color: #212B31;
  color: #DADEDF;
}

.text-marked {
  background: url("../img/mark.png") repeat-x 0 12px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_content_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 31px;
}

.header_content_logo__img {
  width: 30px;
  height: 44px;
  margin-right: 8px;
}

.header_content_logo__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
}

.header_content_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 31px;
}

.header_content_nav__link {
  color: #72787D;
  font-size: 16px;
  line-height: 19px;
  margin-right: 22px;
}

.header_content_nav__link:last-child {
  margin-right: 0;
}

.header_content_nav__link-active {
  color: #036FC7;
}

.header_content_nav__button {
  padding: 9px 20px;
  font-size: 15px;
  line-height: 16px;
}

.hero {
  margin: 74px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  max-width: 818px;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-weight: normal;
}

.hero_buttons {
  margin-top: 30px;
  margin-bottom: 78px;
}

.hero_buttons__button:first-child {
  margin-right: 16px;
}

.advantages {
  margin: 144px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-betweens;
      -ms-flex-pack: space-betweens;
          justify-content: space-betweens;
}

.advantages_item {
  max-width: 325px;
  margin-right: 25px;
  text-align: center;
}

.advantages_item__icon {
  width: 48px;
  height: 48px;
}

.advantages_item__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.advantages_item__description {
  color: #72787D;
  font-size: 16px;
  line-height: 24px;
}

.article {
  margin-bottom: 70px;
}

.article_description__title {
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
}

.article_description__text {
  margin-top: 16px;
  margin-bottom: 35px;
  color: #72787D;
  font-size: 20px;
  line-height: 32px;
}

.article_description__text-marked {
  font-size: 20px;
  line-height: 32px;
}

.article-vertical {
  text-align: center;
}

.article-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-alone {
  max-width: 781px;
  margin: 100px auto;
}

.title-alone__text {
  font-weight: normal;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
}

.companies {
  padding: 56px 0;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #EEF2F3;
  border-bottom: 1px solid #EEF2F3;
}

.companies__item {
  max-width: 180px;
  margin-right: 40px;
}
/*# sourceMappingURL=style.css.map */