body
    +Inter
    color: $primary
    font-size: 16px
    line-height: 24px

.container
    margin: auto
    width: 90vw
    max-width: 1060px
    &-big
        margin: auto
        max-width: 1440px !important

h1, h2, h3, h4, h5, h6, p
    margin: 0
    font-weight: normal
h1
    font-size: 22px
    line-height: 27px
h2
    font-size: 48px
    line-height: 64px
h3
    font-size: 32px
    line-height: 48px
h4
    font-size: 18px
    line-height: 24px
h5
    font-size: 16px
    line-height: 24px
a
    color: $primary
    text-decoration: none
    &:hover
        opacity: 0.7
img
    width: 100%

.button
    +Arial
    outline: none
    border: none
    border-radius: 4px
    padding: 13px 25px
    font-size: 17px
    line-height: 24px
    &:first-child
        margin-right: 16px
.button-dark
    background-color: $primary
    border: 1px solid $primary
    color: #fff
    &:hover
        background-color: #fff
        color: $primary
.button-light
    background-color: #FFFFFF
    border: 1px solid #DADEDF
    color: $primary
    &:hover
        background-color: $primary
        color: #DADEDF
.button-light-solid
    border: 1px solid #fff
    &:hover
        background-color: transparent
        color: #fff
.button-light-inversion
    color: #fff
    border: 1px solid #fff
    background-color: transparent
    &:hover
        background-color: #fff
        color: $primary


.text-marked
    background: url('../img/mark.png') repeat-x 0 12px
    color: $primary

.title-leaf:after
    content: url('../img/abilities/reliability.svg')
    position: absolute
    top: -18px
    right: -34px
    width: 42px
    height: 40px

@media screen and ( max-width: 400px)
    .button
        margin-top: 20px
        &:first-child
            margin-right: 0
    