.advantages
    margin: 144px auto
    display: flex
    justify-content: space-betweens
    &_item
        max-width: 325px
        margin-right: 25px
        text-align: center
        &__icon
            width: 48px
            height: 48px
        &__title
            margin-top: 20px
            margin-bottom: 10px
        &__description
            color: $secondary

@media screen and ( max-width: 768px)
    .advantages
        flex-wrap: wrap
        justify-content: center
        margin: 100px auto
        &_item
            margin-bottom: 50px
    