.article
    margin-bottom: 70px
    &_description
        &__title
            font-size: 32px
            line-height: 48px
            font-weight: normal
        &__text
            margin-top: 16px
            margin-bottom: 35px
            color: $secondary
            font-size: 20px
            line-height: 32px
            &-marked
                font-size: 20px
                line-height: 32px
    &-vertical
        text-align: center
    &-horizontal
        display: flex