.dark-section
    background-color: $primary
    color: #fff
    padding-top: 120px
    padding-bottom: 40px
    &__text
        color: rgba(255, 255, 255, 0.75)
        max-width: 340px

.building
    width: 95vw
    max-width: 1260px
    display: flex
    margin-left: auto
    &_description
        margin-right: 50px
        &__title
            font-weight: normal
            font-size: 32px
            line-height: 48px
            margin-bottom: 50px
        &_list
            padding: 0
            margin-bottom: 50px
            &_item
                padding-left: 32px
                &__title
                    font-weight: normal
                    font-size: 18px
                    line-height: 24px
                &__text
                    margin-top: 10px
                    margin-bottom: 24px
                    max-width: 510px
                    font-size: 16px
                    line-height: 24px
                    color: rgba(255, 255, 255, 0.75)
        &_buttons
            &__button
                margin-right: 16px
    &__image
        max-width: 618px
        margin-bottom: 150px