.hero
    margin: 74px auto
    display: flex
    flex-direction: column
    align-items: center
    &__title
        max-width: 818px
        text-align: center
    &_buttons
        margin-top: 30px
        margin-bottom: 78px